{% extends "base.html" %}
{% block content %}
    
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Pagamentos</h1>
                </div>
            

                {% with messages = get_flashed_messages(category_filter=["info"]) %}
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-info" role="alert">
                    {{ msg }}
                </div >
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="mb-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#novoModal" data-bs-title="Novo Pagamento" >Novo Pagamento</button>
                </div>
                <div class="table-responsive">

                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Aluno</th>
                                <th>Mês de Referência</th>                                
                                <th>Data do Pagamento</th>
                                <th>Valor</th>
                                <th>Tipo</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pagamento in pagamentos %}
                            <tr>
                                <td> {{ pagamento['_id'] }} </td>
                                <td> {{ pagamento['aluno']['nome'] }} </td>
                                <td> {{ pagamento['mesRef'] }} </td>                                
                                <td>{{ pagamento['dataPagamento'] }}</td>
                                <td>{{pagamento['valorPago'] }} </td>
                                <td>{{pagamento['tipo'] }} </td>
                                <td><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#novoModal" data-bs-title="Editar Pagamento" 
                                    data-bs-id="{{ pagamento['_id'] }}" data-bs-aluno="{{ pagamento['aluno']['_id'] }}" data-bs-mesRef="{{ pagamento['mesRef'] }}" data-bs-dPagamento="{{ pagamento['dataPagamento'] }}" data-bs-valorPago="{{ pagamento['valorPago'] }}" data-bs-tipo="{{pagamento['tipo']}}">Editar</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#excluirModal"  data-bs-id="{{pagamento['_id']}}">Excluir</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Modal para criar/editar pagamento -->
                <div class="modal fade " id="novoModal" tabindex="-1" aria-labelledby="novoModalLabel" aria-hidden="true"> 
                
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="novoModalLabel">Novo Pagamento</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="erroralerts">
                                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                    {% if errors %}
                                    {% for error in errors %}
                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </symbol>
                                    </svg>
                                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                        <div>
                                            {{ error }}
                                        </div>
                                    </div >
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </div>

                                <form action="{{ url_for('pagamento.savePagamento') }}" method="post">
                                    <input type="hidden" id="idPagamento" name="idPagamento"  value="{% if pagamento %}{{pagamento['id']}}{% endif %}" >
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="aluno" name="aluno" aria-label="Floating label select novo" {% if pagamento %} value="{{pagamento['aluno']['_id']}}" {% endif %}>
                                        {% for aluno in alunos%}
                                          <option value="{{aluno['_id']}}">{{aluno['nome']}}</option>
                                        {% endfor %}
                                        </select>
                                        <label for="aluno">Aluno</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="hidden" id="mesRef" name="mesRef">
                                        <label for="aluno">Mês de Referência</label>
                                        <div class="input-group">
                                            <select class="form-select" id="mes" name="mes" aria-label="Floating label select novo" placeholder="Mês">
                                                <option value="01">Janeiro</option>
                                                <option value="02">Fevereiro</option>
                                                <option value="03">Março</option>
                                                <option value="04">Abril</option>
                                                <option value="05">Maio</option>
                                                <option value="06">Junho</option>
                                                <option value="07">Julho</option>
                                                <option value="08">Agosto</option>
                                                <option value="09">Setembro</option>
                                                <option value="10">Outubro</option>
                                                <option value="11">Novembro</option>
                                                <option value="12">Dezembro</option>
                                              </select>
                                              <select class="form-select" id="ano" name="ano" aria-label="Floating label select novo" placeholder="Ano" value="2021">
                                                {% for n in range(2015, 2100) %}    
                                                <option value="{{n}}">{{n}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="hidden" id="dataPagamento" name="dataPagamento">
                                        <input type="text" class="form-control" id="datePickerDataPagamento" name="datePickerDataPagamento" placeholder="dataPagamento" {% if pagamento %} value="{{pagamento['dataPagamento']}}" {% endif %}>
                                        <label for="dataPagamento">Data do Pagamento</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="valorPago" name="valorPago" placeholder="Endereço" {% if pagamento %} value="{{pagamento['valorPago']}}" {% endif %}>
                                        <label for="valorPago">Valor Pago</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="tipo" name="tipo" aria-label="Floating label select novo" {% if pagamento %} value="{{pagamento['tipo']}}" {% endif %}>
                                          <option value="dinheiro">dinheiro</option>
                                          <option value="credito">Crédito</option>
                                          <option value="debito">Débito</option>
                                        </select>
                                        <label for="tipo">Tipo</label>
                                    </div>
                                                                      
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger" type="submit">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para excluir pagamento -->
                <div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="excluirModalLabel">Excluir Pagamento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p>Você está prestes a excluir um pagamento. Essa ação é irreversível!</p>
                        <p>Deseja continuar?</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                        <a id="btnExcluir" type="button" class="btn btn-danger"  href="#">Sim</a>
                        </div>
                    </div>
                    </div>
                </div>

            </main>
            
            
            {% endblock %}

            {% block scripts %}
                <script>
                    var excluirModal = document.getElementById('excluirModal');
                    excluirModal.addEventListener('show.bs.modal', function (event) {
                    // Button that triggered the modal
                    var button = event.relatedTarget;

                    // Extract info from data-bs-* attributes
                    var id = button.getAttribute('data-bs-id');

                    // Update the modal's content.
                    var btnExcluir = excluirModal.querySelector('#btnExcluir');
                    btnExcluir.href = "{{ url_for('pagamento.deletePagamento') }}?idPagamento="+id;
                    });

                    var novoModal = document.getElementById('novoModal');
                    novoModal.addEventListener('show.bs.modal', function (event) {
                    // Button that triggered the modal
                    var button = event.relatedTarget;
                    if (button) {
                        var alerta = document.getElementById('erroralerts');
                        alerta.hidden = true;
                                            
                        // Extract info from data-bs-* attributes
                        var title = button.getAttribute('data-bs-title');
                        var id = button.getAttribute('data-bs-id');
                        var aluno = button.getAttribute('data-bs-aluno');
                        var mesRef = button.getAttribute('data-bs-mesRef');
                        var dataPagamento = button.getAttribute('data-bs-dPagamento');
                        var valorPago = button.getAttribute('data-bs-valorPago');
                        var tipo = button.getAttribute('data-bs-tipo');
                        
                        // Update the modal's content.
                        var modalTitle = novoModal.querySelector('.modal-title');
                        var idInput = novoModal.querySelector('#idPagamento');
                        var inputAluno= novoModal.querySelector('#aluno');
                        var mesInput = novoModal.querySelector('#mes');
                        var anoInput =novoModal.querySelector('#ano');
                        var mesRefInput = novoModal.querySelector('#mesRef');
                        var dataPagamentoInput = novoModal.querySelector("#dataPagamento" );
                        var datePickerDataPagamentoInput = novoModal.querySelector("#datePickerDataPagamento" );
                        var valorPagoInput = novoModal.querySelector('#valorPago');
                        var tipoInput = novoModal.querySelector('#tipo');

                        modalTitle.textContent =  title;
                        idInput.value = id;
                        inputAluno.value = aluno;
                        dataPagamentoInput.value = dataPagamento;
                        datePickerDataPagamentoInput.value = dataPagamento;
                        valorPagoInput.value = valorPago;
                        tipoInput.value = tipo;
                        mesInput.value = mesRef.substring(0, 2);
                        anoInput.value = mesRef.substring(3);
                        mesRefInput.value = mesRef;
                    } else {
                        var modalTitle = novoModal.querySelector('.modal-title');
                        var idInput = novoModal.querySelector('#idPagamento');
                        if (idInput.value) {
                            modalTitle.textContent = "Editar Pagamento"
                        } else {
                            modalTitle.textContent = "Novo Pagamento"
                        }
                    }
                    });
                </script>
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
                {% if pagamento %}
                <script>
                    $(document).ready(function () {
                        $('#novoModal').modal('show')
                    });
                    
                </script>
                {% endif %}
                <script>
                        $(document).ready(function(){
                            $('#mesRef').val($('#mes').val() + "-" + $('#ano').val());
                        });
                        $(function () {
                            $('#mes').change(function () {
                                $('#mesRef').val($('#mes').val() + "-" + $('#ano').val());
                            });
                        });
                        $(function () {
                            $('#ano').change(function () {
                                $('#mesRef').val($('#mes').val() + "-" + $('#ano').val());
                            });
                        });

                        $(function () {
                            $("#datePickerDataPagamento").datepicker({
                                dateFormat: "dd/mm/yy",
                                altField: "#dataPagamento",
                                altFormat: "dd/mm/yy"
                            });
                        });

                </script>
                
            {% endblock %}