{% extends "base.html" %}
{% block content %}
        
            

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Alterar Produto</h1>
                    </div>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                  {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('modalidade.editModalidade') }}" method="post">
                        <input type="hidden" name="idmodalidade" value="{{ modalidade['id'] }}" id="idmodalidade" class="form-control" placeholder="Id do Modalidade" required>

                        <label for="descricao" class="visually-hidden">Nome:</label>
                        <input type="text" name="descricao" value="{{ modalidade['descricao'] }}" id="descricao" class="form-control" placeholder="Descrição da Modalidade" required autofocus>                       
                        
                        <label for="valorMensalidade" class="visually-hidden">Preco:</label>
                        <input type="text" data-type="currency" name="valorMensalidade" value="{{ modalidade['valorMensalidade'] }}" id="valorMensalidade" class="form-control" placeholder="Valor da Mensalidade" required autofocus>
                        
                        <label for="categoria" class="visually-hidden">Categoria</label>
                        <select class="form-select" name="categoria" id="categoria">
                            <option value="Placeholder" selected disabled>Selecione uma categoria</option>
                            <option value="ArteMarcial">Arte Marcial</option>
                            <option value="Natacao">Natação</option>
                            <option value="Musculacao">Musculação</option>
                            <option value="TreinaAerobico">Treino Aeróbico</option>
                        </select>                        
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Salvar</button>
                    </form>
                </main>
            
        
{% endblock %}