{% extends "base.html" %}
{% block content %}
    
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Modalidades Cadastradas</h1>
                </div>
                <div class="table-responsive">

                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}

                    <a href="{{ url_for('modalidade.insertModalidade') }}" class="btn btn-dark">Cadastrar Nova Modalidade</a>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Valor Mensalidade</th>                                
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for modalidade in modalidades %}
                            <tr>
                                <td> {{ modalidade['descricao'] }} </td>
                                <td> {{ modalidade['categoria'] }} </td>
                                <td> {{ modalidade['valorMensalidade'] }} </td>                                
                                <td><a href="{{ url_for('modalidade.editModalidade', idModalidade=modalidade['id']) }}">Editar</a></td>
                                <td><a href="{{ url_for('modalidade.deleteModalidade', idModalidade=modalidade['id']) }}">Excluir</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        
    
{% endblock %}