{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Adicionar Novo Plano</h1>
            </div>
            <label for="categoria" class="visually-hidden">Categoria</label>
            <select class="form-select" name="categoriaPlano" id="categoriaPlano">
                <option value="Placeholder" selected disabled>Selecione uma categoria</option>
                {% for mod in mods%}
                <option value="{{mod['_id']}}">{{mod['descricao']}}</option>
                {% endfor %}
            </select>            
        </main>
        
    </div>
</div>
{% endblock %}