<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gerenciamento de Acadêmias</title>
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">       

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bxl-python'></i>
                    <div class="logo_name">Menu</div>
                </div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav_list">
                <li>                   
                    <i class='bx bx-search' ></i>
                    <input type="text" placeholder="Search...">
                      <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="{{ url_for('aluno.listAlunos') }}">
                        <i class='bx bxs-user-check'>
                            <span class="links_name">Aluno</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Aluno</span>
                </li>
                <li>
                    <a href="{{ url_for('instrutor.listInstrutores') }}">                                               
                        <i class='bx bxs-graduation'>
                            <span class="links_name">Instrutores</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Instrutores</span>
                </li>
                <li>
                    <a href="{{ url_for('modalidade.listModalidades') }}">
                        <i class='bx bx-run'>
                            <span class="links_name">Modalidade</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Modalidade</span>
                </li>
                <li>
                    <a href="{{ url_for('pagamento.listPagamentos') }}">
                        <i class='bx bx-dollar' >
                            <span class="links_name">Pagamentos</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Pagamentos</span>
                </li>
                <li>
                    <a href="{{ url_for('plano.listPlanos') }}">
                        <i class='bx bx-task' >
                            <span class="links_name">Planos</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Planos</span>
                </li>
                <li>
                    <a href="{{ url_for('relatorio.listRelatorios') }}">
                        <i class='bx bxs-report' >
                            <span class="links_name">Relatórios</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Relatórios</span>
                </li>               
                <li>
                    <a href="{{ url_for('configuracao.listConfiguracoes') }}">
                        <i class='bx bx-cog' >
                            <span class="links_name">Configuração</span>
                        </i>                        
                    </a>
                    <span class="tooltip">Configuração</span>
                </li>
            </ul>
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="{{ url_for('static',filename='/'.join(['img', 'profile.jpg']))}}" alt="">
                        <div class="name_job">
                            <div class="name">Admin</div>
                            <div class="job">Administrador</div>
                        </div>
                    </div>
                    <a href="{{ url_for('usuario.logout') }}">
                        <i class='bx bx-log-out' id="log_out" ></i>
                    </a>
                    
                </div>
            </div>

        </div>
        <div class="home_content">
            {% block content %}
            {% endblock %}            
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>       
    </body>
</html>